nav{
    display: flex;
     position: absolute;
    top: 110px;
    right: 0px;
 
 }
 nav li { 
     display:inline;
     margin: 0 0 0 15px ;
    
     }
 nav a {
     text-transform: uppercase;
     color: black;
     font-weight: bold;
     font-size: 22px;
     text-decoration: none;
    } 
    
  nav a:hover{
     color: #918d57;
     text-decoration:underline ;  
  }
header{
    background-color: #bbbbbb;
    padding: 20px 0px;
  
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto ;
   
    font-family: 'Montserrat', sans-serif;
    
}



